[user]
    name = Sergey Morozov
    email = ita.sammann@gmail.com
[push]
    default = tracking
[color]
    branch = auto
    diff = auto
    interactive = auto
    status = auto
[pretty]
    simple = "<%h> %ad [%an] %Cgreen%d%Creset %s"
    compact = "%C(yellow)%h%C(reset) - %C(green)%ad%C(white)%d%C(reset) %s %C(bold blue)<%an>%C(reset)"
[alias]
    graph = log --graph --date-order -C -M --pretty=compact --all --date=relative
    graphb = log --graph --date-order -C -M --pretty=compact --date=relative
    graph2 = log --graph --date-order -C -M --pretty=simple --all --date=short
    st = status
    ci = commit
    co = checkout
    br = branch
    mg = merge
    stapull = ! git stash && git pull && git stash pop
    prorigin = remote prune origin
[diff]
    tool = vimdiff
[core]
	editor = vim
	pager = less -FSinXR -x1,5
	excludesfile = ~/.gitignore_global
[github]
	user = ita-sammann
