[user]
    name = Sergey Morozov
    email = ita.sammann@gmail.com
    signingkey = 4B08C96219E6D34E
    #email = sergey.morozov@insolar.io
    #signingkey = 052EE05259001771
[push]
    default = tracking
[color]
    branch = auto
    diff = auto
    interactive = auto
    status = auto
[pretty]
    simple = "<%h> %ad [%an] %Cgreen%d%Creset %s"
    compact = "%C(yellow)%h%C(reset) - %C(green)%ad%C(white)%d%C(reset) %s %C(bold blue)<%an>%C(reset)"
[alias]
    graph = log --graph --date-order -C -M --pretty=compact --all --date=human
    graphb = log --graph --date-order -C -M --pretty=compact --date=relative
    graph2 = log --graph --date-order -C -M --pretty=simple --all --date=short
    st = status
    ci = commit
    co = checkout
    br = branch
    mg = merge
    stapull = ! git stash && git pull && git stash pop
    prorigin = remote prune origin
    listtags = for-each-ref --sort=taggerdate --format '%(tag)' refs/tags
    merged = ! BR=`git rev-parse --abbrev-ref HEAD` && git checkout master && git branch -d $BR && git pull
    pr = ! git push --set-upstream origin `git rev-parse --abbrev-ref HEAD`
[diff]
    tool = vimdiff
[core]
    editor = vim
    pager = less -FSinXR -x1,5
    excludesfile = ~/.gitignore_global
[github]
    user = ita-sammann
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[commit]
	gpgsign = true
[url "git@github.com:"]
	insteadOf = https://github.com/
[fetch]
	prune = true
[pull]
	rebase = false
[init]
	defaultBranch = master
